<!DOCTYPE html>
<html>
    <head>
        <title>자동차 중고 가격 예측</title>
        <style>
            body {
                background-color: lightblue;
                background-image: url('https://t1.daumcdn.net/liveboard/lalaclassic/9cadc1111e354fa4ad2b06f095686e24.JPG');
                background-position: 50% -60%;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
        <h1>자동차 중고 가격 예측결과</h1>
        <div class="print"> 가격은 {{value}}원으로 예상됩니다. </div>
    </body>
</html>
